{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["warn", "double"],
    "semi": ["warn", "never"],
    "indent": ["warn", 2],
    "no-multi-spaces": ["warn"],
    "no-console": "off",
    "no-undef": "off",
    "object-curly-spacing": ["warn", "always"],
    "react-hooks/exhaustive-deps": "off",
    "space-infix-ops": ["warn", { "int32Hint": false }],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-non-null-assertion": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"]
  }
}